<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <canvas width="960" height="800"></canvas>
    <script src="/javascripts/d3.v4.min.js"></script>
    <script src="/javascripts/topojson.v1.min.js"></script>
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= title %></p>
  </body>
</html>
