body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

path:hover {
    fill: #72716c;
}

.museum-room {
  transition: fill 0.2s linear;
}

.museum-room:hover {
  fill: blue;
}

.museum-room-text {
  /*margin: 10px;
  padding: 10px;
  font-size: 20px;*/
  cursor: default;
}

#map {
padding: 10px;
}
